.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/workspaces.json
.obsidian/cache
.obsidian/plugins/fit/debug.log
.obsidian/plugins/fit/debug.log.*
.trash/
.DS_Store
Thumbs.db
API/API KEYS.md
.obsidian/plugins/fit/data.json
